<div style="margin-left:30px; width:300px">
    <h3>Update Country</h3>
    {{message}}

    <form name="UpdateCountryForm" ng-submit="UpdateCountry();">
        <div class="form-group">
            <label for="country.Name">Name</label>
            <input type="text" class="form-control" ng-model="country.Name" required />
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Update" ng-disabled="UpdateCountryForm.$invalid" />
        </div>
    </form>

    <br />
    <a href="#/" class="btn btn-primary">Back to Menu</a>
</div>